.button {
  width: 100px;
  background-color: transparent;
  padding: 5px 15px;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover {
    border-color: blue;
    color: white;
    background-color: yellow;
    transform: scale(1.04);
    font-weight: bold;
  }
}
